x86_64-native-linuxapp-gcc/
gateway/oprofile_data/
# Object files
pspgen
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Miscellaneous
neighbors.conf
*.log

#build
*/build/*

#vscode
.vscode/*
